/*
 * Block Cursor v1.0.0
 * 
 * The following code is a stylesheet to render the console.
 * 
 * Copyright © Shaurya Pratap Srivastava, All Rights Reserved.
 */

body {
    background: #000;
    color: #0F0;
    font-family: monospace;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
    margin: 0;
    padding: 16px;
}

#input {
    display: inline;
    outline: none;
    visibility: visible;
}

    #input::selection {
        color: #000;
        background: #0F0;
    }

    #input:empty::before {
        content: ' ';
    }

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#caret {
    animation: blink 1s steps(5, start) infinite;
}

#input.noCaret + #caret {
    visibility: hidden;
}

#caret {
    border: 0;
    padding: 0;
    outline: none;
    background-color: #0F0;
    display: inline-block;
    font-family: monospace;
}
